.dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.oppener-dropdown {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: #FF6060;
    color: white;
    padding: 0 20px 0 20px;
    line-height: 10px;
    border-radius: 5px;
}

.oppener-dropdown button {
    background-color: #FF6060;
    border: none;
    color: white;
}

.contenu-dropdown {
    background-color: #E5E5E5;
    padding: 0 20px 0 20px;
    width: 90%;
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    border-radius: 0 5px 5px 0;
}