.fiche-logement {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.carrousel {
    margin-right: 100px;
    margin-left: 100px;
    position: relative;
}

.carrousel .active {
    height: 415px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    object-fit: cover;
}

.disable {
    display: none;
}

.prev-button,
.next-button {
    border: none;
    color: white;
    background: none;
    font-size: 70px;
    position: absolute;
}

.prev-button {
    bottom: 175px;
    left: 25px;
}

.next-button {
    right: 50px;
    bottom: 175px;
}

p.picture-counter {
    position: absolute;
    left: 50%;
    bottom: 1px;
    color: white;
}

.info-logement-main {
    margin-right: 100px;
    margin-left: 100px;
}

.fiche-logement h1 {
    color: #FF6060;
}

.info-logement-main p {
    color: #FF6060;
}

.info-logement-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.general-info-logement {
    display: flex;
    justify-content: space-between;
}

.info-logement-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-general-info-logement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tags {
    display: flex;
    gap: 10px;
}

.tags .tag {
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
    margin: 0;
}

.dropdown-contener {
    display: flex;
    gap: 80px;
}

.dropdown-contener .oppener-dropdown {
    width: 100%;
}

.dropdown-contener .dropdown .contenu-dropdown {
    width: 100%;
}

.contenu-dropdown ul li {
    list-style: none;
}

.contenu-dropdown ul {
    padding: 0;
}

@media (max-width: 767px) {
    .carrousel {
        margin: 0 20px 0 20px;
    }

    .prev-button,
    .next-button {
        font-size: 25px;
    }

    .next-button {
        right: 0px;
        bottom: 50%;
    }

    .prev-button {
        left: 0;
        bottom: 50%;
    }

    p.picture-counter {
        display: none;
    }

    .carrousel .active {
        height: 350px;
    }

    .fiche-logement {
        gap: 15px;
    }

    .fiche-logement h1 {
        font-size: 18px;
    }

    .info-logement-main {
        margin: 0 20px 0 20px;
    }

    .general-info-logement {
        flex-direction: column;
        gap: 20px;
    }

    .left-general-info-logement {
        flex-direction: row-reverse;
        align-items: center;
    }

    .tags .tag {
        font-size: 10px;
        padding: 5px 15px 5px 15px;
    }

    .dropdown-contener {
        flex-direction: column;
        gap: 20px;
    }

    .dropdown {
        width: 100%;
        padding: 0 20px 0 20px;
    }
}