.main-footer {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

#kasa-rights {
    max-width: 500px;
    max-height: 50px;
}

@media (max-width: 767px) {

    #kasa-rights {
        max-width: 250px;
    }
}