.img-header {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 50px 100px 0px 100px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}

#img-banner-montagne {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);

}

.banner h1 {
  color: white;
}

nav ul a {
  color: red;
  text-decoration: none;
}

nav ul a.active {
  text-decoration: underline;
}