.img-header{
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
  }
  
  nav ul{
    display:flex;
    gap:60px;
    list-style-type: none;
  }
  
  nav ul a{
    color:red
  }