@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #F6F6F6;
}

body {
  margin: unset;
}

#root {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  background-color: #E5E5E5;
  margin: 0 100px 0 100px;
  border-radius: 25px;
}


@media (max-width: 767px) {
  .main-card {
    margin: 0 20px 0 20px;
    padding: 0;
  }

  html {
    background-color: #E5E5E5;
  }

  #root {
    gap: 20px;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}