@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #F6F6F6;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: unset;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  background-color: #E5E5E5;
  margin: 0 100px 0 100px;
  border-radius: 25px;
}