.img-propriétaire {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.info-propriétaire {
    display: flex;
    gap: 10px;
}

.nom-propriétaire {
    width: 70px;
}

@media (max-width: 767px) {
    .img-propriétaire {
        height: 40px;
        width: 40px;
    }

    .info-propriétaire {
        align-items: center;
    }

    .nom-propriétaire {
        font-size: 12px;
    }
}